* {
    /*margen */
    margin: 0;
    /*padding da bordes interiores*/
    padding: 0;
    /* un navegador que no coja los estitos que le estamos dando, estilos para opera*/
    -webkit-box-sizing: border-box;
    /*navegador para mozzila*/
    -moz-box-sizing: border-box;
    /*para todos los navegadores */
    box-sizing: border-box;

}

body {
    /*TIPO DE LETRAS CON EL QUE DESCARGAMOS dota la aplicacion*/
    font-family: "open sans", Ariel, sans-serif;
    font-size: 16px;

}

.contenedor {

    border: 1px solid cornflowerblue;
    /*cualquier dispositivo tenga el mismo tamano*/
    width: 80%;
    /*se queda en los mil px cual sea otro dispositivo*/
    max-width: 1000px;
    /* se centra automaticamente*/
    margin: auto;
    /**/
    overflow: hidden;
}

/*--- estilos header---*/
header {
    border: 1px solid crimson;
    width: 100%;
    background: url(../imagenes/.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;


}

header .contenedor {
    position: relative;
    /* altura de la imagen*/
    height: 700px;
}

header .menu {
    width: 100%;
    text-align: right;


}

header .menu a {
    color: aliceblue;
    /*tamano de la fuente*/
    font-size: 20px;
    /*tamano d que nos dscargamos*/
    font-weight: 300;
    display: inline-block;
    /*sentido de las manesilla del reloj*/
    margin: 40px 20px;
    /*sirve para eliminar el subrayado*/
    text-decoration: none;
    position: relative;

}

/*sdfsdfsdfsd */
header .menu a:hover {
    color: aqua;
    text-decoration: underline;

}

header .texto{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -52px;


}
header .texto .nombre{
    font-size: 50px;
    font-weight: 600;

}
header .texto .nombre span{
    font-weight: 300;
}
header .texto h3{
    font-weight: 300;
    font-size: 25px;
  font-style: italic;
}
/*-----------MAIN------------*/
.main{
    background: url(../imagenes/WhatsApp\ Image\ 2024-04-17\ at\ 19.40.51\ \(2\).jpeg);
    background-repeat: repeat;
}
/*trabajar con oderfloot */
.main .acerca-de .contenedor{
    overflow: visible;
    /*se pospone una imagen una de otra*/
    position: relative;


}
.main .acerca-de .foto{
    width: 80%;
    /*determina la posicion del elemento*/
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 0;
    box-shadow: 0px 0px 15px rgba(228, 4, 4, 0.948);

}
 .main .acerca-de .foto img{
        vertical-align: top;
        width: 100%;
    }

.main .acerca-de article{
    background: #fff;
    padding: 40px;
    width: 50%;
    position: relative;
    top: 60px;
    z-index: 1;
    float: right;
    box-shadow: 20px 10px 15px rgba(219, 55, 55, 0.35);

}
.main .acerca-de article h3{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;

    
}
.main .acerca-de article p{
    /*modifica el texto*/
    line-height: 28px;
    margin-bottom: 15px;

}
/*seccion menú*/
.main .menu{
    padding-top: 570px;
    margin-bottom: 50px;

}
.main .menu .titulo{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}
.main .menu .contenedor-menu,
.main .menu .contenedor-menu2{
    border: 1px solid #1c1a1a;
    background: transparent;
    padding: 10px;
    overflow: hidden;
 

}
.main .menu  article{
    width: 50%;
    float: left;
    padding: 20px;

}
.main .menu .categoria{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;

}
.main .menu .platillo{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom:  4px dotted #000;
    overflow: hidden;

}
.main .menu .nombre{
    font-size: 20px;
    margin-bottom: 15px;
    float: left;

}
.main .menu .precio{
    font-size: 20px;
    margin-bottom: 15;
    float: right;
}
.main .menu .descripcion{
    font-size: 16px;
    color: #676767;
    clear: both;

}

/**-------galeria------**/
.main .galeria {
    overflow: hidden;
   
}

.main .galeria .foto{
    width: 25%;
    float:left;

}
.main .galeria .foto img{
    width: 100%;
    vertical-align: top;
    opacity: .6;
}

.main .galeria .foto img:hover{
    opacity: 1;
}